#register-labels, #login-labels, #createcourse-labels, #numgen-labels, #changepw-labels
{
	display: inline-block;
	text-align: left;
	font-size: 24px;
}

#register-inputfields, #login-inputfields, #createcourse-inputfields, #numgen-inputfields, #changepw-inputfields
{
	display: inline-block;
	margin-left: 0.5%;
	font-size: 24px;
}

.off
{
	display: none;
}

#authkey-info
{
	position: absolute;
	margin-right: 0.5em;
}

#projectTable
{
	font-size: 24px;
}

#tellpwnoteq
{
	color: rgb(231, 76, 60);
}

.footer-link
{
	text-decoration: none;
	color: inherit;
}
