.submit
{
	font-family: UI;
	font-size: 20px;
	color: inherit;
	border: 3px rgba(236, 240, 241, 0.5) solid;
	background: none;
}

input
{
	font-family: UI;
	font-size: 18px;
	color: inherit;
	border: 2px rgba(236, 240, 241, 0.5) solid;
	background: none;
}

.divbutton
{
	border: rgba(52, 73, 94, 1.0) 3px solid;
	color: rgba(236, 240, 241, 1.0);
	background-color: rgba(52, 73, 94, 1.0);
	padding: 0.3em;
	margin: 0.3em;
}

.divbutton:hover
{
	color: rgba(52, 73, 94, 1.0);
	background-color: rgba(236, 240, 241, 1.0);
}

table
{
	font-size: 32px;
}

.rowHover:hover
{
	color: rgba(52, 73, 94, 1.0);
	background-color: rgba(236, 240, 241, 0.9);
	cursor: pointer;
}
